nav{
    display: flex;
    color: blanchedalmond;
    gap: 5vw;
    justify-content: center;
    background-color: rgb(99, 89, 89);
}

nav a{
    font-size: xx-large;
    color: aliceblue;
    text-decoration: none;
    transition: color ease-in 0.3s;
}

nav a:hover{
    color: aqua;
}

body{
    margin: 0px;
    font-family: 'Azeret Mono', sans-serif;  
    background-color: gray;
}

#main-content, #definition{
    font-size: larger;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
}

#textBox-part{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

#textBox{
    font-size: xx-large;
    border-radius: 50px;
    height: 10vh;
    width: 50vw;
}

#subButton{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
    border: 0;
    height: 6vh;
    width: 5vw;
    border-radius: 10px;
    background-color: blue;
    transition: background-color 0.5s ease;
}

#subButton:hover{
    background-color: blueviolet;
}