nav{
    display: flex;
    justify-content: center;
}

body{
    margin: 0px;
    background-color: grey;
    font-family: 'Azeret Mono', sans-serif;  
}

#main-content{
    display: flex;
    justify-content: center;
}