nav{
    display: flex;
    color: blanchedalmond;
    gap: 5vw;
    justify-content: center;
    background-color: rgb(99, 89, 89);
}

nav a{
    font-size: xx-large;
    color: aliceblue;
    text-decoration: none;
    transition: color ease-in 0.3s;
}

nav a:hover{
    color: aqua;
}

body{
    margin: 0px;
    background-color: grey;
    font-family: 'Azeret Mono', sans-serif;  
}

#main-content{
    font-size: larger;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

#gameSection{
    text-align: center;
}

#giantBox{
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-image: url("/static/ocean.png");
}

#phishDiv{
    width: 75vw;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
}
