<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkOrLie</title>
    <link rel="stylesheet" href = "{{url_for('static', filename = 'index.css')}}">
    <link href="https://fonts.cdnfonts.com/css/azeret-mono" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/spot-the-phish">Spot the Phish</a>
    </nav>
    <div id="main-content">
        Website to detect if a link is an attempt to phish or not.
    </div>
    <div id="definition">
        What is phishing?`
        It is an attempt to steal your personal data by pretending to be a real website.
        Some links maybe really hard to spot unless you REALLY try hard to spot it.
    </div>
    <form method="POST" action= "/process-form" id="textBox-part">
        <input type="text" id="textBox" name="link" required />
        <button id="subButton" type="submit">Submit</button>
    </form>
    <div id="resultBox">
            Result: <span id="resultText"></span>
        </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>