<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spot the phish</title>
    <link rel = "stylesheet" href="{{url_for('static', filename = 'spot-the-phish.css')}}">
    <link href="https://fonts.cdnfonts.com/css/azeret-mono" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/spot-the-phish">Spot the Phish</a>
    </nav>
    <div id="main-content">
        An interactive game to identify which is a real site, and which isn't.
    </div>
    <div id="gameSection">
        Top scores come on the leaderboard.
        <div id="giantBox">
            <div id="phishDiv">
                <div class="fish" id="fish1">
                    <img src="/static/phfish.png">
                    <span class="link-text"></span>
                </div>
                <div class="fish" id="fish2">
                    <img src="/static/phfish.png">
                    <span class="link-text"></span>
                </div>
            </div>
            <div id="scoreDiv">
                Score: <span id="scoreVal"></span>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>